.MediaComponent, .Trending{
   nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Link{
    text-decoration: none;
    color: #5A698F;
  }
  .Header-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h1 {
    font-size: 1.75rem;
    letter-spacing: -0.0195rem;
  }
  .Media-Type{
    text-transform: uppercase;
    font-size: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
  }
  }
}

.MediaComponent {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}


// Trending own styling
.Trending {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
  .Container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    /* Scrollbar Styles */
    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: hsl(223, 25%, 35%);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: hsl(223, 25%, 55%);
    }
  }

  .ContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    .Content {
      .Year-Type-Wrapper{
        position: absolute;
        top: 4.5rem;
        left: 1rem;
      }

      .Age {
        position: absolute;
        top: 5.5375rem;
        right: 1rem;
      }

      .Name {
        position: absolute;
        top: 5.5625rem;
        left: 1rem;
      }
      .Rating{
        position: absolute;
        top: 6.5625rem;
        left: 1rem;
      }
    }
  }
}