.Credits {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  h1 {
    margin-bottom: 1rem;
  }
  .Casts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .Profile-Card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      padding-bottom: 1rem;
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
      img{
        width: 100%;
      }
    }
    .Profile-Card:hover{
        cursor: pointer;
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    }
  }
}
